<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Localwood Socket Control</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
      em {
        display: block;
      }
    </style>
  </head>
  <body>
    <h1>Socket Control</h1>
    <h4>All Sockets</h4>
    <button socket="all" state="on">On</button>
    <button socket="all" state="off">Off</button>
    <h4>Socket 1</h4>
    <button socket="1" state="on">On</button>
    <button socket="1" state="off">Off</button>
    <h4>Socket 2</h4>
    <button socket="2" state="on">On</button>
    <button socket="2" state="off">Off</button>
    <h4>Socket 3</h4>
    <button socket="3" state="on">On</button>
    <button socket="3" state="off">Off</button>
    <h4>Socket 4</h4>
    <button socket="4" state="on">On</button>
    <button socket="4" state="off">Off</button>
    <div id="status"></div>

    <script src="static/scripts.js" type="text/javascript"></script>
  </body>
</html>
